{% if backendMode %}
    {% set title = 'All Messages' %}
{% else %}
    {% set title = "Messages in '" ~ location.getBundleName ~ "&#92;" ~ location.getControllerName ~ "::" ~ location.getActionName ~ "'" %}
{% endif %}

<style type="text/css">
    .domis86_web_debug_dialog_table td.is_not_translated, #domis86_help_dialog .is_not_translated {
        background-color: red !important;
    }

    .domis86_web_debug_dialog_table .translation_font, #domis86_help_dialog .translation_font {
        font-family: 'Courier New', Courier, monospace
    }

    .domis86_web_debug_dialog_table .messageTranslationContainer {
        width: 100%;
    }

    .domis86_web_debug_dialog_table .messageParentTranslationContainer, #domis86_help_dialog .parent_translation_style {
        color: #04a9e6;
    }

    .column_id {
        width: 1%;
    }

    .column_domain_name {
        width: 2%;
    }

    .column_name {
        width: 10%;
    }

    .column_locations {
        width: 2%;
    }

    th.column_locations {
        font-size: 10px;
    }

    #domis86_web_debug_dialog_container {
        font-size: 11px;
    }

    #domis86_help_dialog {
        font-size: 14px;
    }

    .ui-dialog-title {
        font-size: 0.8em;
    }

    .ui-tooltip {
    }
</style>

{% spaceless %}
<div id="domis86_web_debug_dialog_container"
     class="dataTable"
     style="display:none; background-color: burlywood;"
     title="{{ title|raw }}"
     data-submit_url="{{ path('domis86_translator_translator_save_message')|escape }}"
        >
    {% endspaceless %}
    <table class="domis86_web_debug_dialog_table" cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            <th class="column_id">Id</th>
            <th class="column_domain_name">Domain</th>
            <th class="column_name">Name</th>
            {% for a_locale in webDebugDialog.managedLocales %}
                <th class="column_translation add_flag" data-locale="{{ a_locale }}">Translation&nbsp;{{ a_locale|upper }}</th>
            {% endfor %}
            {% if backendMode %}
                <th class="column_locations">Locations</th>
            {% endif %}
        </tr>
        </thead>

        <tbody>

        {% for aMessage in webDebugDialog.messagesForView %}
            <tr class="row_message">
                <td class="column_id td_first">{{ aMessage.id }}</td>
                <td class="column_domain_name">{{ aMessage.domain_name }}</td>
                <td class="column_name">{{ aMessage.name }}</td>
                {% for aLocale, aTranslation in aMessage.translations %}
                    <td class="column_translation translation_font {% if loop.last %}td_last{% endif %}"
                        data-message_name="{{ aMessage.name }}"
                        data-message_domain_name="{{ aMessage.domain_name }}"
                        data-message_translation_locale="{{ aLocale }}">
                        <div class="messageTranslationContainer isContainer {% if aTranslation|length < 1 %}empty{% else %}not_empty{% endif %}">{{ aTranslation }}</div>
                        <div class="messageParentTranslationContainer isContainer {% if aMessage.parentTranslations[aLocale]|length < 1 %}empty{% else %}not_empty{% endif %}"
                             title="Translation from original Translator service.
Used when there is no translation in database.">{{ aMessage.parentTranslations[aLocale] }}</div>
                    </td>
                {% endfor %}
                {% if backendMode %}
                    <td class="column_locations" title="{% for aLocation in aMessage.locations %}{{ aLocation }}{% if not loop.last %},
{% endif %}{% endfor %}">{{ aMessage.locations|length }}</td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>

    </table>

</div>

<div id="domis86_help_dialog" title="Help - Domis86TranslatorBundle" style="display: none;">
    <p>
        <span class="is_not_translated translation_font">&nbsp;&nbsp;&nbsp;&nbsp;( Click to edit )&nbsp;&nbsp;&nbsp;</span> - is
        not translated.
    </p>

    <hr />

    <p>
        "<span class="parent_translation_style translation_font">Lorem ipsum dolor.</span>" - Translation from original
        Translator service - used when there is no translation in the database.
    </p>

    <hr />

    <p>
        Click on table headers to sort by column. Shift+Click for multi column sorting.
    </p>
</div>
